body{
    background-image: url("img/bg2.jpg");
    background-repeat: repeat-y;
    background-size: 1920px, 1080px;
    
}

.header{
    color: black;
    font-size:100px;
    position:fixed;
    text-align:center;
    width:100%;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    top: 0;
    left: 0;
}

.sidebar{
    color:white;
    font-size:30px;
    position:fixed;
    text-align:center;
    width:10%;
    background-color: rgb(255, 138, 216);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    left: 0;
    top: 0;
    height:100%;
    line-height: 8;
    padding-top: 20px;
}

.text{
    color:black;
    font-size:30px;
    position:relative;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top:110px;
}

.login {
    position: relative;
    z-index: 1;
    height: 100%;
    top: 200px;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
}

#subtext {
    margin-top: -30px;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

a:hover {
    color: rgb(255, 65, 192);
}