body {
    -webkit-animation: bg 10s infinite;
    animation: bg 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bg {
    0% {
        background-color:#ff6aeb
    }

    25% {
        background-color: #bf70ff
    }

    50% {
        background-color: #7494ff
    }

    75% {
        background-color: rgb(128, 240, 255)
    }

    100% {
        background-color: #75ffaa
    }
}

.header{
    color: white;
    font-size:100px;
    position:relative;
    text-align:center;
    width:100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top:-70px;
    margin-bottom:-70px;
}

.cats {
    position:relative;
    text-align:center;
}

.select {
    position: relative;
    z-index: 1;
    height: 100%;
    top: 100px;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
}

#header2{
    margin-top:-100px;
    margin-bottom:70px;
}

button {
    color: white;
    background-color:black;
}

button:hover {
    -webkit-animation: bg 10s infinite;
    animation: bg 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}