body {
    -webkit-animation: bg 10s infinite;
    animation: bg 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bg {
    0% {
        background-color:#ff6aeb
    }

    25% {
        background-color: #bf70ff
    }

    50% {
        background-color: #7494ff
    }

    75% {
        background-color: rgb(128, 240, 255)
    }

    100% {
        background-color: #75ffaa
    }
}

.swag{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
}

.chat{
    width:99.66%;
    background-color:transparent;
}

.box {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .box .inner {
    height: 200px;
    overflow-y: auto;
  }
  
  .box .inner .message {
    border: 1px solid #ccc;
    padding: 2px 4px;
    margin: 2px 2px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  input {
    border-radius: 3px;
  }